.get-started {
	z-index: 10;
	background-color: var(--bg);
	height: 100vh;
	min-width: 100vw;
	align-content: center;
	text-align: center;
	margin-top: -4rem;
}

.get-started div {
	margin: auto;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	cursor: pointer;
}

.close:hover {
	color: var(--light-red);
}

#pond {
	white-space: nowrap;
	overflow: hidden;
	animation: type 4s steps(45, end);
	width: 28em;
}

@keyframes type {
	from { width: 0; }
}

#corner-pond {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

#corner-pond > span:first-child {
	cursor: pointer;
}

#drowning-child {
	display: none;
	margin-left: .5rem;
}

.question {
	display: none;
}

.question > div {
	margin-top: 1rem;
}

.question > div > span {
	cursor: pointer;
	width: fit-content;
}

.question > div > div {
	display: inline;
	margin: 0 1rem;
}

.question > div.pagination > span:nth-child(2) {
	margin-left: 1rem;
}

.question > div.pagination > span:hover {
	color: var(--light-red);
}

.question > span {
	color: var(--light-red);
	font-size: 1.25rem;
}

.question > .inputControl {
	text-align: left;
	font-weight: bold;
	font-size: 1.25rem;
	border: none;
	background-color: #0000;
}

.question > input.inputControl {
	width: 5rem;
	color: var(--light-red);
	box-shadow: 0 5px 6px -4px var(--light-red);
}

.question > div.inputControl {
	color: white;
}

.question > div.inputControl.status {
	width: 6rem;
	box-shadow: 0 5px 6px -4px var(--light-red);
}

.question > div.inputControl.state {
	width: 10rem;
	color: white;
}

.question > .inputControl:focus {
	outline: none;
}

.question > div > label.MuiFormLabel-root {
	margin-left: 1rem;
}

.question > .inputControl > span.MuiSwitch-root {
	width: 3rem !important;
}

.question > div.MuiStack-root > p {
	margin: 0;
}

.question > div.MuiStack-root > span.MuiSwitch-root {
	margin: 0;
}

.question > div > div > svg.MuiSvgIcon-root {
	color: var(--dark-red);
}

.question > div:hover > div > svg.MuiSvgIcon-root {
	color: var(--light-red);
}

.question > div > div > fieldset.MuiOutlinedInput-notchedOutline {
	border-color: var(--dark-red);
}

.question > div:hover > div > fieldset.MuiOutlinedInput-notchedOutline {
	border-color: var(--light-red);
}

.question > div > label.MuiFormLabel-root {
	color: white;
}

.question > div > div > div.MuiSelect-select {
	color: white;
}

div.MuiPopover-root.MuiMenu-root > div.MuiPaper-root {
	background-color: rgb(40, 40, 40);
	color: white;
	top: 55vh;
	height: 40vh;
}

.how-much {
	margin-right: .5rem;
}

@media (max-width: 420px) {
	#corner-pond {
		font-size: .75rem;
	}
}

@media (max-width: 639px) {
	.question {
		max-width: 90vw;
	}

	#pond {
		width: 15rem;
		animation: unset;
	}

	#pond > span {
		white-space: nowrap;
		overflow: hidden;
		margin: auto;
	}

	#pond > span:nth-child(1) {
		display: block;
		animation: type 2s steps(24, end) 0s forwards;
	}

	#pond > span:nth-child(2) {
		display: block;
		animation: type 2s steps(24, end) 2s forwards;
		width: 0;
	}

	@keyframes type {
		from { width: 0; }
		to { width: 15rem; }
	}
}
